<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://github.com/aslyvets/gw2rss -->
    <meta charset="UTF-8">
    <title>whoiam</title>
</head>
<body>
<h3>Enter your name:</h3>
<form name="user" action="name" method="post">
    Name:
    <label for="name">
        <input type="text" name="name"/>
    </label>
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
